*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    background-color: #e5ebfd; 

}
/* Gloubl css */
ul {
    list-style: none;
}
a {
    text-decoration: none;

}
h2, h3,h4 {
    color: var(--head-color);
    font-weight: 600;
}
span {
    color: var(--main-color);
}
:root {
    --main-color:#FFCD00;
    --head-color:#430572 ;
    --back-color:#e5ebfd;
}
.heading {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.heading h2 {
    color: var(--head-color);
    font-weight: bold;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
}
.heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 180px;
    margin: 20px auto;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 10px;
}
.heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -37px;
    width: 15px;
    height: 20px;
    border-radius: 50px;
    margin: 20px auto;
    background-color: var(--head-color);
}
.heading p {
    color: #777;
    font-size: 18px;
}
/* Gloubl css */

/* Start Navbar */
.bar {
    background-color: var(--main-color);
    color: var(--head-color);
    font-weight: 600;
    height: 28px;
}
.bar .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 767px){
    .bar {
        display: none;
    }
}
.navbar {
    padding: 0;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar .container .navbar-brand img {
    width: 300px;
    height: 80px;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    background-color: var(--head-color);
    font-weight: 600;
    border-right: 1px solid #eee;

}
@media (max-width: 767px){
    .navbar .navbar-nav .nav-item .nav-link {
        display: flex;
        margin-right: auto;
        padding: 10px 20px;
    }
}
.navbar .navbar-nav  .nav-item .nav-link:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    font-weight: bold;
}
.navbar .navbar-nav  .nav-item .nav-link.active {
    color: var(--main-color);
}
.navbar .nav-item .nav-link:last-child {
    background-color: var(--head-color) !important; 
    color: white;
}
.navbar-light .navbar-toggler {
    background-color: #ffcc00a9;
    color: white;
    border: 2px solid var(--head-color);
    margin-left: 20px;
}
/* End navbar */

/* Start contact */
.contact-card {
    padding: 50px 0;
}
.contact-card .card  {
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    color: var(--head-color);
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--head-color);
}
@media (max-width: 767px) {
    .contact-card .card {
        flex-basis: 50%;
    }
}
.contact-card .card:hover  {
    color: white;
    background-color: var(--head-color);

}
.contact-card .card:hover .fa  {
    background-color: var(--head-color);


}
.contact-card .card .fa, .far {
    font-size: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 2;
    background-color: white;
    color: #fca311;
}
.contact-card .card h5 {
    font-size: 20px;
    margin-top: 10px;
}
.contact-card .card p {
    font-size: 20px;
}
/* End contact */
.location {
    margin-top: 30px;
}
.location iframe {
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.location .row form {
    padding: 0 10px;
}
.location .row form input, textarea, button {
    margin-bottom: 10px;
}

.location .row form  button {
    padding: 5px 25px;
    transition: all 0.3s;
    margin-right: auto;
}
.location .row form  button:hover i {
    transform: scale(1.2);
}
/* Start footer */
footer {
    padding-top: 100px;
    padding-bottom: 10px;
    background-image: url(../image/02026.jpg);
    background-size: cover;
    color: var(--main-color) !important;
    position: relative;
}
footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);
}
footer .links  img {
    height: 80px ;
    width: 250px;
    margin-bottom: 30px;
}
footer .links li a {
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 10px;
}
footer .links li a:hover {
    color: var(--head-color);
}
footer .container .social-media {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px auto;
}
footer .container .social-media a {
    color: var(--main-color);
    text-decoration: none;
}
footer .container .social-media i {
    width: 40px;
    height: 40px;
    background-color:  #10cab749;
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
footer .container .social-media a:hover i {
    transform: scale(1.3) rotate(360deg);
    background-color: var(--head-color);
    border: 2px solid var(--main-color);

}
footer hr {
    background-color: white;
    height: 1px;
}
/* Scroal top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  #myBtn i {
      color: var(--head-color);
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/* End top */
footer .copyrigth p {
    position: relative;
    display: block;
    margin: 10px auto;
    text-align: center !important;
    color: white;
}
/* End footer */